body {  
	background: #f9e933;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {  
	max-width: 855px;  
	margin: auto;
	}
header {  
	background: white;
	overflow: auto;
	}
h1 {
	float: left;
	width: 570px;
}
header nav {
	float: right;
	width: 285px;
}
main {  
		background: white;
		overflow: auto;
	}
.content {
	float: left;
	width: 570px;
}
img {
	float: right;
	width: 285px;
}
footer {
	overflow: auto;
}
.contact {
	float: left;
	width: 570px;
}
.sitemap {
	float: right;
	width: 285px;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}